<h1>{{title}}</h1>
<p>A 2-Factor Authentication (or multi-factor authentication) is an
  authentication method that only allows the user access to the application after he
  provides two or more credentials.</p>